* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    ;
    -webkit-font-smoothing: antialiased;
    background: #e4e1de;
}

.city-search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input {
    width: 175px;
}

.header,
.weather-details,
.sunset-sunrise {
    max-width: 75%;
    margin: 0 auto;
}

.header {
    background: #6ff7e4;
    padding: 0px 30px;
    border: 1px solid #6ff7e4;
}

.search-bar {
    border: none;
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    border-radius: 10px 0px 0px 10px;
    appearance: none;
    margin-right: -15px;
    align-items: center;
}

.search-button {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 100%;
    background: black;
    color: #f3f4fb;
    display: flex;
    transition: 0.2s;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    ;
}

.search-button:hover {
    filter: brightness(1.25);
}

.current-date,
.city-name {
    font-family: "Ubuntu", sans-serif;
}

.current-date {
    color: #a2a2be;
    font-size: 14px;
    margin-top: 15px;
}

.city-name {
    font-weight: 500;
    font-size: 20px;
    margin-top: 6px;
}

.current-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px auto;
}

.weather-icon {
    width: 125px;
    margin-top: 15px;
}

.temperature-description {
    color: #a2a2be;
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
}

.temperature-description: first-letter {
    text-transform: uppercase;
}

.info-label {
    margin-top: 15px;
    color: #a2a2be;
}

.current-temperature-info {
    font-size: 24px;
    color: #a2a2be;
    font-weight: 500;
    margin-top: 15px;
}

.bottom-container {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.weather-details {
    display: flex;
    margin-top: 10px;
}

.weather-details-itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #808080;
}

.weather-details-itens:last-child {
    border: none;
}

.weather-details-label {
    color: #a2a2ae;
}

.weather-details-value,
.sun-value {
    font-weight: 500;
    margin-top: 7px;
}

/* sun */

.sunset-sunrise {
    display: flex;
    margin: 30px auto;
}

.sun-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}